Options +FollowSymLinks -Indexes
# RewriteEngine On
# RewriteRule ^(.*)$ http://127.0.0.1:8081/$1 [P]

# Habilitar el motor de reescritura
RewriteEngine On

# 1. Enrutar /mi-app al puerto 8080 de forma transparente
RewriteRule ^mi-app/(.*)$ http://localhost:8080/$1 [P,L]
RewriteRule ^mi-app$ http://localhost:8080/ [P,L]

# 2. Enrutar /mi-app2 al puerto 8081 de forma transparente
RewriteRule ^mi-app2/(.*)$ http://localhost:8081/$1 [P,L]
RewriteRule ^mi-app2$ http://localhost:8081/ [P,L]

# 3. Enrutar /mi-app2 al puerto 3000 de forma transparente
RewriteRule ^mi-app3/(.*)$ http://localhost:3000/$1 [P,L]
RewriteRule ^mi-app3$ http://localhost:3000/ [P,L]

# 4. Enrutar /mi-app4 al puerto 8085 de forma transparente
RewriteRule ^mi-app4/(.*)$ http://localhost:8085/$1 [P,L]
RewriteRule ^mi-app4$ http://localhost:8085/ [P,L]
